:root {
  --main-color: #b3f12c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------------------------1. header--------------------------------- */
/* .heart-icon {
  height: 24px;
  margin-right: 3px;
} */
.logo {
  height: 24px;
  margin-right: 3px;
}
.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.brand-logged {
  margin-left: 5px;
  font-size: 20px;
}

.brand-new {
  margin-top: 20px;
}

.brand-text {
  color: black;
}

.brand-text:hover {
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='whitesmoke' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  text-align: right;
  margin-right: 5px;
  font-weight: 500;
  color: white;
}

.nav-link:hover {
  color: #6f42c1;
}

/* --------------------------------- 2. home page---------------------------------  */
.homepage {
  background-image: url("./assets/images/runblur1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 100% of the viewport height */
}

.home {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
}

.home-title {
  font-weight: 900;
}

.home-text {
  margin: 10px auto 15px auto;
  font-size: 15px;
}

.home-btn,
.signup-btn,
.submit-btn {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #6f42c1;
  font-weight: 800;
}

.home-btn:hover,
.signup-btn:hover,
.submit-btn:hover {
  /* background-color: #9cd326; */
  background-color: #461f8d;
}

/* 3. --------------------------------- sign up and login page-------------------------------- */
.signup,
.history {
  height: 100vh;
}

.signup-form {
  width: 300px;
  margin: 20px 0 90px 0;
}

.signup-form label {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signup-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}

.btn-div {
  margin: 18px auto;
}

.signup-btn {
  width: 300px;
  height: 46px;
}

.link-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.err-message {
  color: red;
}

/* --------------------------------- 4. history page---------------------------------   */
.title {
  margin: 30px auto 20px auto;
  font-weight: 900;
  color: black;
}

.title:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 35px; /* length of border */
  padding-top: 3px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid; /* This creates the border. Replace black with whatever color you want. */
}

.history-text {
  margin: 20px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.history-data {
  margin-bottom: 20px;
}

.history-div {
  margin: 15px auto;
}

.date {
  min-width: 70px;
  margin-right: 16px;
  font-weight: bold;
}

.history-card {
  width: 240px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  position: relative;
  transform: rotateY(15deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.history-card:hover {
  transform: rotateY(0deg);
}

.history-icon {
  height: 35px;
  margin-right: 14px;
}

.cardio-title,
.cardio-btn {
  background-color: #6f42c1;
  color: black;
}

.resistance-title,
.resistance-btn {
  background-color: lightskyblue;
  color: black;
}

.history-name {
  font-weight: bold;
  margin: 0 auto;
}

.history-index {
  margin: 0 auto;
  font-size: 13px;
}

.show-btn {
  margin: 20px auto;
  border: none;
  background-color: white;
  font-size: 15px;
}

.show-btn:hover {
  font-weight: bold;
}

/* --------------------------------- 5.exercise page---------------------------------   */
.exercise-icon {
  height: 40px;
}

.cardio-btn,
.resistance-btn {
  width: 160px;
  height: 160px;
  margin: 20px auto;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 150ms ease-in-out;
}

.cardio-btn:hover,
.resistance-btn:hover {
  box-shadow: 0 0 10px 0 whitesmoke inset, 0 0 10px 4px whitesmoke;
}

/* ------------------------------- 6. cardio and resistance page--------------------------------*/
.exercise-form-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  background-color: black;
}

.cardio,
.single-cardio {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.resistance,
.single-resistance {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
.bulking {
  background-image: url("./assets/images/food.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
.cutting {
  background-image: url("./assets/images/food.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.cardio-form,
.resistance-form,
.bulking-form,
.cutting-form,
.cardio-div,
.resistance-div {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 290px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.cardio-form label,
.resistance-form label,
.bulking-form label,
.cutting-form label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: #6f42c1;
}

.cardio-form input,
.resistance-form input,
.bulking-form input,
.cutting-form input {
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  color: black;
  width: 100%;
}

.bulking-form select,
.cutting-form select {
  margin-bottom: 10px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  color: black;
  width: 100%;
}

.submit-btn {
  width: 100%;
  margin-top: 15px;
  background-color: #6f42c1;
  color: black;
}

.message {
  font-weight: bold;
  color: white;
  margin-top: 20px;
  text-align: center;
}

/* ---------------------------------7.single exercise page--------------------------------- */
.cardio-div,
.resistance-div {
  width: 280px;
}

.single-exercise span {
  color: #6f42c1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.delete-btn {
  border: none;
  border-radius: 6px;
  background-color: red;
  color: whitesmoke;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
  margin: 10px auto;
}

.delete-btn:hover {
  background-color: rgb(211, 5, 5);
}

.react-confirm-alert-overlay {
  background-color: rgba(255, 255, 255, 0.1);
}

.react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  padding: 20px 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.react-confirm-alert-body h1 {
  font-size: 20px;
  font-weight: bold;
}

.react-confirm-alert-button-group button {
  font-weight: bold;
  font-size: 14px;
}
.react-confirm-alert-button-group button:last-child {
  background-color: red;
}

/* ---------------------------------------8. Posture Selector page ---------------------------------------------*/

.container {
  text-align: center;
  margin-top: 50px;
}

.heading {
  font-size: 36px;
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.exercise-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}

.exercise-image:hover {
  transform: scale(1.1);
}

.image-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.image-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.image:hover {
  transform: scale(1.1);
}

/* ----------------------------------------------------9. diff Posture styles  -----------------------------------------------------*/
.posture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posture-header {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.camera-and-predictions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.camera-container {
  position: relative;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 4px solid #ccc; /* Light grey */
  border-top: 4px solid #fff; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
canvas {
  border: 2px solid black;
  position: relative;
  height: 500px;
  width: 500px;
}

.predictions-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.start-stop-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.start-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.stop-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #f60000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #0056b3;
}
.stop-button:hover {
  background-color: #ba0000;
}

.bar-graph-holder {
  margin-bottom: 10px;
}

.bar-graph-label {
  margin-bottom: 5px;
}

.tm-bar-graph-holder {
  width: 100%;
  height: 20px;
  background-color: #f1f0ff;
  border-radius: 10px;
  overflow: hidden;
}

.tm-bar-graph {
  height: 100%;
  border-radius: 8px;
}
/* ------------------------------------- Photos -------------------------------------------------- */
.photos-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-item {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.photo-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.photo-item:hover .photo-image {
  filter: brightness(50%);
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* hidden by default */
  transition: opacity 0.3s ease;
}

.photo-item:hover .photo-overlay {
  opacity: 1; /* visible on hover */
}

.photo-date,
.photo-notes {
  margin: 5px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.delete-button:hover {
  background-color: darkred;
}

.photo-item:hover .delete-button {
  opacity: 1;
}
